<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <customer_credit>
                <active>1</active>
                <model>Tudai\CuentaCorriente\Model\CustomerCredit</model>
                <title>Cuenta Corriente</title>
                <limit>1000</limit>
                <group>tudai-payment</group>
            </customer_credit>
        </payment>
    </default>
</config>
